<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Contacts.app</title>
		<!--<script src="https://unpkg.com/htmx.org@1.9.10"></script>-->
	</head>
	<body>
		<form action="/contacts" method="get" class="tool-bar">
			<label for="search">Search Term</label>
			<input id="search" type="search" name="q" value="{{ query }}"/>
			<input type="submit" value="Search"/>
		</form>
		<table>
			<thead>
			<tr>
				<th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
			</tr>
			</thead>
			<tbody>
			{{ #each contacts }}
				<tr>
					<td>{{ this.first }}</td>
					<td>{{ this.last }}</td>
					<td>{{ this.phone }}</td>
					<td>{{ this.email }}</td>
					<td>
						<a href="/contacts/{{ this.id }}/edit">Edit</a>
						<a href="/contacts/{{ this.id }}">View</a>
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</body>
</html>
